body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    margin-top: 10px;
    list-style: none;
}
